name: Cross-version API Compatibility Tests

on:
  pull_request:
    branches: [main, release-*]
    paths:
      - "*"

  push:
    branches: [main, release-*]

jobs:
  build:
    name: Cross-version API Compatibility Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
        id: go

      - name: Setup dependencies
        run: |
          make tools
          echo "${PWD}/hack/tools/bin" >> $GITHUB_PATH
          echo "${PWD}/bin" >> $GITHUB_PATH

      - name: go cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build Runtime Test Plugins
        run: make build-compatibility-test-plugins

      - name: Run Compatibility Tests
        run: make run-compatibility-tests
