name: Main

on:
  pull_request:
    branches: [ main, docs* ]
  push:
    branches: [ main, test*, docs* ]

jobs:

  build:
    strategy:
      matrix:
        go:
          - 18
          - 19
    name: Test-1.${{ matrix.go }}.x
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.${{ matrix.go }}.x
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: go cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Get dependencies
        run: go mod download

      - name: Test
        run: |
          make test
  check:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'

      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
        id: go

      - name: go cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Cache linting
        uses: actions/cache@v3
        with:
          path: ${{ runner.temp }}/lint_cache
          key: ${{ runner.os }}-lint-cache-3

      - name: Run lint checks
        env:
          GOLANGCI_LINT_CACHE: ${{ runner.temp }}/lint_cache
        run: |
          make lint
